<div class="container">
  <div>
    <div FxLayout="row" class="subcontainer">
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Services</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">group</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>
            <h3 class="font-reports">12</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Providers</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">how_to_reg</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>            
            <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Available users</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">warning</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>
            <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Pending services</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">warning</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>              
              <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div FxLayout="row" class="subcontainer">
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Services</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">group</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>
            <h3 class="font-reports">12</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Providers</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">how_to_reg</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>            
            <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Available users</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">warning</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>
            <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Pending services</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">warning</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>              
              <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div FxLayout="row" class="subcontainer">
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Services</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">group</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>
            <h3 class="font-reports">12</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Providers</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">how_to_reg</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>            
            <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Available users</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">warning</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>
            <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="example-card minicontainers">
          <div FxLayout="row">
            <mat-card-title>
              <div fxFlex="80"><small class="text-muted">Pending services</small></div>
              <div fxFlex="20">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">warning</mat-icon>
              </div>
            </mat-card-title>
          </div>
          <mat-card-content>              
              <h3 class="font-reports"> 0</h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    
  </div>  
</div>